<form name="form" novalidate class="mdc-elevation--z5 register-form"
      (ngSubmit)="changePass()"
      [formGroup]="fgChangePass">

  <h2 class="align-canter">Change your password!</h2>
  <p style="text-align: center; color: red; font-weight: bold; text-shadow: 1px 1px 0px white;">
    <alert></alert>
  </p>

  <mat-form-field class="full-width-signin">
    <input [type]="hide1 ? 'password':'text'" matInput placeholder="Current password" name="currentpass"
           [(ngModel)]="currentpass"
           formControlName="currentPass">
    <mat-icon matSuffix (click)="hide1 = !hide1">
      {{hide1?'visibility':'visibility_off'}}
    </mat-icon>
    <mat-error *ngIf="fgChangePass.get('currentPass').hasError('required')">
      Current password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br/>

  <mat-form-field class="full-width-signin">
    <input matInput placeholder="New password" name="newpass"
           [type]="hide2 ? 'password':'text'"
           [(ngModel)]="newpass"
           formControlName="newPass">
    <mat-icon matSuffix (click)="hide2 = !hide2">
      {{hide2?'visibility':'visibility_off'}}
    </mat-icon>
    <mat-error *ngIf="fgChangePass.get('newPass').hasError('required')">
      New password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br/>

  <mat-form-field class="full-width-signin">
    <input matInput placeholder="Confirm new password" name="confirmNewPass"
           [type]="hide3 ? 'password':'text'"
           pattern="{{newpass}}"
           [(ngModel)]="confirmNewPass"
           formControlName="confirmPass">
    <mat-icon matSuffix (click)="hide3 = !hide3">
      {{hide3?'visibility':'visibility_off'}}
    </mat-icon>
    <mat-error *ngIf="fgChangePass.get('confirmPass').hasError('required')">
      Confirm new password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="fgChangePass.get('confirmPass').hasError('pattern')">
      Confirm new password <strong>do not match</strong>
    </mat-error>
  </mat-form-field>
  <br/>

  <div style="width: 100%; text-align: right;">
    <button type="button" mat-raised-button color="default" routerLink="/">Cancel</button>
    <button
      [disabled]="
      fgChangePass.get('currentPass').invalid ||
      fgChangePass.get('newPass').invalid ||
      fgChangePass.get('confirmPass').invalid"
      type="submit" mat-raised-button color="primary">
      <b>Ok</b>
    </button>
  </div>
</form>
